{% extends 'layout.html' %}

{% block content %}
<form class="contenedor" action="/update/{{contact.0}}" method="POST">
    <h2>Inicia Sesión</h2>
    <div class="dni">
      <label for="dni"><b>D.N.I</b></label>
      <input type="number" name="dni"  placeholder="dni" value="{{ contact.1}}" class="form-control">
    </div>

    <div class="clave">
      <label for="clave"><b>Clave</b></label>
      <input type="password" name=clave placeholder="clave" value="{{ contact.1}}" class="form-control">
      <!--form-control: así se llama el formato-->

    </div>
    <button type="submit" class="btn btn-success btn-block">Ingresar</button>
    <button type="submit" class="btn btn-success btn-block">Registrarse</button>
</form>
{% endblock %}