{% extends 'layout.html' %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Dosis</th>
        <th scope="col">Intervalo</th>
        <th scope="col">Edad mínima</th>
        <th scope="col">Fecha_creación</th>
      </tr>
    </thead>
    <tbody>
        {% for vacuna in vacunas %}
            <tr>
                <td>{{vacuna.1}}</td>
                <td>{{vacuna.2}}</td>
                <td>{{vacuna.3}}</td>
                <td>{{vacuna.4}}</td>
                <td>{{vacuna.6}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}






